html,
body {
  height: 100%;
  background-color: $footer-background-color;
}

a:hover {
  text-decoration: underline;
  color: $primary;
}

.body {
  display: flex;  /* use the flex model */
  min-height: 100%;
  flex-direction: column;

  section.hero {
    padding-top: 0;
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;
  }

  &.dashboard {
    section.hero {
      padding-bottom: 29rem;
      margin-bottom: -27rem;

      @include from($tablet) {
        padding-bottom: 17rem;
        margin-bottom: -15rem;
      }
    }
  }
}

.content-wrapper,
section {
  flex: 1;
}

.container {
  @include until($desktop) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.navbar {
  .navbar-item {
    a,
    a:hover {
      text-decoration: none;
    }
  }

  .navbar-brand {
    img {
      margin-right: 0.4rem;
    }

    a.navbar-item,
    a.navbar-item:hover {
      color: $white;
      text-decoration: none;

      h1 {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }

  .navbar-burger:hover {
    color: $white;
  }
}

section.main {
  padding-bottom: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

img.nft-thumb {
  max-width: 95px;
  max-height: 95px;
}

.b-table {
  .table {
    td {
      vertical-align: middle;
    }
  }
}

.button {
  &.is-primary.is-outlined {
    transition: all 0.3s ease;
  }
}

.bn-onboard-modal {
  z-index: 50;
}

@mixin my-touch {
  @media screen and (max-width: $navbar-breakpoint - 1px) {
    @content;
  }
}

@mixin my-desktop {
  @media screen and (min-width: $navbar-breakpoint) {
    @content;
  }
}

article {
  &.coming-soon {
    position: relative;

    .coming-soon-img {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      right: 0;
      z-index: 1;
      left: 0;
      top: 0;

      img {
        position: absolute;
        right: -20px;
        bottom: -20px;
      }
    }
  }
}

.radius-small {
  border-radius: $radius-small;
}

.radius {
  border-radius: $radius;
}

.radius-large {
  border-radius: $radius-large;
}

.nowrap {
  white-space: nowrap;
}
