// Bulma variables
// see @https://bulma.io/documentation/customize/variables

$primary: #24ae60;
/* stylelint-disable function-name-case */
$primary-invert: findColorInvert($primary);
$primary-light: findLightColor($primary);

$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  )
);

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$family-monospace: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

$code-family: $family-monospace;
$body-family: $family-sans-serif;
$body-background-color: $grey-lighter;
$link: $primary;
$link-hover: $primary;

$content-heading-weight: 500;

$code: $grey-darker;

$footer-background-color: $grey-lighter;

$divider-background-color: $grey;
$footer-padding: 2rem 0 5rem;
$footer-background-color: $grey-lighter;

// Removes hamburger in global nav.
$navbar-breakpoint: $desktop;
$navbar-item-hover-background-color: $white;

$menu-item-hover-color: $primary;
$menu-item-active-color: $primary;
$menu-item-active-background-color: $background;

$section-padding: 0 0.8rem;

// Vuepress variables
$codeBgColor: #282c34;
$accentColor: #3eaf7c;