.modal-card {
  border-radius: $radius-large;

  .modal-card-foot {
    justify-content: center;
  }

  &.markdown-modal {
    h2 {
      font-size: $size-3;
    }
  }

  &.hashtag-modal {
    max-width: 550px;

    .modal-card-title,
    .title,
    .subtitle {
      color: $white;
      width: 100%;
    }

    .modal-card-body,
    .modal-card-foot,
    .modal-card-head {
      background-color: $grey-dark;
    }

    .card-content {
      text-align: center;
    }

    .level {
      width: 100%;

      .level-item {
        p.heading {
          color: $white-ter;
        }
      }
    }

    p.address {
      overflow: overlay;
    }

    .modal-card-foot {
      justify-content: center;
    }
  }
}
