html {
  scroll-behavior: smooth;
  height: 100%;
}

body,
#app {
  height: 100%;
}

a {
  &:hover {
    text-decoration: underline;
  }

  &.header-anchor {
    font-size: 0.85em;
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    opacity: 0;
  }

  // The following can be removed when app & website bulma are upgraded to 9.x
  &.button {
    height: 2.25em;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
  color: $dark;

  &:hover .header-anchor {
    opacity: 1;
  }
}

.content {
  h1 {
    font-size: $size-2;
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: $size-3;
  }
  h3 {
    font-size: $size-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      padding-top: 84px;
      margin-top: -50px;
    }
  }
}

.body {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 268px;
  min-height: 100%;
}

.container {
  @include until($desktop) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.navbar {
  .navbar-brand {
    img {
      margin-right: 0.4rem;
    }

    a.navbar-item,
    a.navbar-item:hover {
      color: $dark;
      text-decoration: none;

      span {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }

  .navbar-menu {
    .navbar-end {
      .navbar-item {
        font-weight: 700;
      }

      a {
        &.navbar-item {
          padding: 0;
          margin: 0.5rem 0.75rem;
          &:hover {
            text-decoration: none;
            border-bottom: 1px solid;
          }
        }

        &.router-link-active {
          color: $primary;
          border-bottom: 1px solid;
        }
      }
    }
  }
}

.menu-list {
  a.active {
    font-weight: 700;
  }
}

// Padding. This can be removed in Bulma 0.9.0
.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}
