@import "bulma/sass/utilities/_all";
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
// @import url("https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css");

$primary: #24ae60;
/* stylelint-disable function-name-case */
$primary-invert: findColorInvert($primary);

$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
);

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$body-family: $family-sans-serif;
//$body-background-color: $grey-lighter;
$link: $primary;
$link-hover: $primary;

a:hover {
  text-decoration: underline;
}

//$title-color: $black-ter;
//$subtitle-color: $black-ter;

$divider-background-color: $grey;
$footer-padding: 3rem 1.5rem 8rem;
$footer-background-color: $grey-lighter;

// Removes hamburger in global nav.
$navbar-breakpoint: 414px;
$navbar-item-hover-background-color: $white;

$section-padding: 0.25rem 0.8rem;

.body {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 9rem;
}

@mixin my-touch {
  @media screen and (max-width: $navbar-breakpoint - 1px) {
    @content;
  }
}

@mixin my-desktop {
  @media screen and (min-width: $navbar-breakpoint) {
    @content;
  }
}

.container {
  @include until($desktop) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.navbar {
  .navbar-brand {
    img {
      margin-right: 0.4rem;
    }

    a.navbar-item,
    a.navbar-item:hover {
      color: $dark;
      text-decoration: none;

      h1 {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }

  .navbar-menu {
    .navbar-end {
      .navbar-item {
        font-weight: 700;
      }

      a {
        &.navbar-item {
          padding: 0;
          margin: 0.5rem 0.75rem;
          &:hover {
            text-decoration: none;
            border-bottom: 1px solid;
          }
        }

        &.router-link-active {
          color: $primary;
          border-bottom: 1px solid;
        }
      }
    }
  }
}

// Padding. This can be removed in Bulma 0.9.0
.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

@import "@creativebulma/bulma-divider";
