@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css");
@import "bulma/bulma.sass";
@import "buefy/src/scss/buefy";
@import "@creativebulma/bulma-divider";

// Bulma style overrides and custom themeing.
@import './partials/styles.scss';
@import './partials/onboard.scss';
@import './partials/modalcard.scss';
@import './partials/widgets.scss';
@import './partials/hashtag-token.scss';
